.todo-detail-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 40%;

  padding: 3em;

  background-color: #f9f9f9;
  border: 1px solid #ccc;
  color: black;
}

.todo-detail-modal h2 {
  padding-bottom: 1em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  height: 100%;
  
  margin: auto;
  
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width: 420px) {
  .todo-detail-modal {
    width: 95%;
    height: 90%;

    padding: 0;
  }

  .modal-content {
    justify-content: center;

    height: 100%;
    padding: 1em;
  }
}
